/* @media screen and (max-width: 1500px){
  #timeline_box {
    display: none;
  }
}
@media screen and (max-height: 650px){
  #timeline_box {
    display: none;
  }
} */

*{
  /* sizing */
  box-sizing: border-box;

  /* images */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome                         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* page */
html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

#container{
  /* Sizing */
  height: 100vh;
  overflow: hidden;


}

#timeline_box {
  /* positioning */
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  padding: 10px;
  text-align: center;

  /* font */
  font-family: page-font;
  font-size: 95px;

  /* color */
  background-color: white;

}

#timeline_enter_box{
  /* positioning */
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  padding: 10px;
  text-align: center;

  /* font */
  font-family: page-font;
  font-size: 40px;

  /* color */
  background-color: white;
}

/* Font */
@font-face {
  font-family: page-font;
  src: url( "media/font.ttf"); /* relative path */
}

/* Image div */
div.slide-right {
  width:220%;
  overflow:hidden;
}
div.slide-right div.inner {
  animation: slide-right 300s infinite;
  height: 100vh;
}

/* Animation */
@keyframes slide-right {
  from {
    margin-left: -1820%;
  }

  to {
    margin-left: 1000%;
  }
}

/* link properties */
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active{
  color: black;
}
