:root{
  /* background */
  --background-image-left: url( "../../styles/gen1/media/background_left.jpg" ); /* given to the user */
  --background-image-right: url( "../../styles/gen1/media/background_left.jpg" ); /* given to the user */
  --background-fade-color: #000; /* given to the user */

  /* banner */
  --banner-image: url( "styles/gen1/media/base_banner.png" );/* absolute path */ /* given to the user */
  --banner-color: #fff; /* given to the user */

  /* audio */
  --audio-file: url( "styles/gen1/media/sound.mp3" ); /* absolute path */ /* given to the user */

  /* container */
  --container-background-color: #000; /* given to the user */
  --container-text-color: #fff;  /* given to the user */
  --container-border-color: #fff; /* given to the user */

  /* index */
  --index-background-color: #000; /* given to the user */
  --index-text-color: #fff;  /* given to the user */
  --index-border-color: #fff;

  /* image for the back button */
  --backbutton-image: url( "../../styles/gen1/media/back.jpg" ); /* relative path */
  --backbutton-image-hover: url( "../../styles/gen1/media/back_hover.jpg" ); /* relative path */

  /* image for the sound button */
  --soundbutton-image: url( "../../styles/gen1/media/sound.png" ); /* relative path */
  --soundbutton-image-hover: url( "../../styles/gen1/media/sound_hover.png" ); /* relative path */
  /* image for the cross on the sound button */
  --soundbutton-cross: url( "../../styles/gen1/media/cross.png" ); /* relative path */
  --soundbutton-cross-hover: url( "../../styles/gen1/media/cross_hover.png" ); /* relative path */

  /* text styles */
  --link-color-hover: #f80;  /* given to the user */

  /* content scrollbar */
  --scrollbar-thumb: #000;
}

html {
  font-size: 120%;
}

@font-face {
  font-family: page-font;
  src: url( "../../styles/gen1/media/font.ttf"); /* relative path */
}
