* {
  box-sizing: border-box;
}
body {
  background-color: #ff0000;
  font-family: Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* STYLING THAT THE TIMELINE AND THE GENERATION BANNER HAVE IN COMMON */
.generationLabel, .timeline, #fulltimeline{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.generationLabel h1{
  /* position */
  margin: 0;

  /* text */
  text-decoration: underline;
}

.timeline {
  margin-bottom: 3%;
  background-color: inherit; /*Inherits #fulltimeline 's background color*/
  overflow-x: hidden;
}
.collapsed{
  display: none;
}
/*###############################*/
#navbar{
  background-color: yellow;
  width: 100%;
  height: 10%;

  position: sticky;
  top: 0;
  z-index: 2;
}
#navmenu-toggle{
  background-color: purple;
  color: white;

  display: block;
  float: right;
}
#navmenu{
  background-color: magenta;

  width: 30%;
  height: 50%;
  border: solid 3px white;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0px;
  float: right;
}
#leftpane,#rightpane{
  max-height: 100%;
  height: 100%;

  vertical-align: top;
}
#leftpane{

  border-right: solid 3px white;
}
ul{
  list-style-type:none;
}
li.navmenu-entry.gen.active{
  border-bottom: 3px dotted red;
}
/* THE GENERATION LABELS */
.generationLabel{
  position: sticky;
  z-index: 3;
  top: 0px;
  background-color: yellow;

  width: 50%;
  text-align: center;
}
/*###############################*/
/* THE TIMELINE'S VERTICAL RULER */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}
/*###############################*/
#fulltimeline{
  background-color: blue;
}


/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit; /*Inherits #fulltimeline 's background color*/
  width: 50%;
}

/* The extrusion from the element to the line */
.container::before{
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  border: medium solid white;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  /* left: 1px; */
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  right: 30px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  left: 30px;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}
.left::after {
  right: -16px;
}

/* The actual content */
.content {
  padding: 10px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.container{
  opacity: 1;
}
.container.left{
  transform: translateX(-100%);
}
.container.right{
  transform: translateX(100%);
}

.anim-in.container{
  animation: anim-in 0.7s ease forwards;
}
@keyframes anim-in {
  to {
      opacity: 1;
      transform: translateX(0%);
  }
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {
  .left .right{
    transform: translateX(100%);
  }

  /* Place the timelime to the left */
  .timeline::after {
      left: 31px;
  }

  /* Full-width containers */
  .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
      left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
      left: 0%;
  }
}
