* {
  box-sizing: border-box;
}
body {
  background-color: #ff0000;
  font-family: Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}
/* ============================================================================= NAVBAR */
#navbar{
  /* background */
  background-color: yellow;

  /* size */
  width: 100%;
  height: 50px;

  /* position */
  position: fixed;
  top: 0;
  z-index: 0;
}

#navbar-title{
  /* background */
  background-color: #fff;

  /* text */
  color: #000;

  /* size */
  height: 50px;

  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 10px;
}
#navbar-title h1{
  /* position */
  margin: 0;

  /* content */
  text-align: left;
  line-height: 50px;
}

@media screen and (max-width: 800px) {
  #navbar-title{
    display: none;
  }
}

#navbar-button{
  /* background */
  background-color: #fff;

  /* text */
  color: #000;

  /* size */
  height: 50px;

  /* position */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0 10px;
}
#navbar-button:hover{
  /* background */
  background-color: #000;

  /* text */
  color: #fff;
}

#navmenu-toggle{
  /* position */
  margin: 0;

  /* content */
  text-align: right;
  line-height: 50px;
}
#navmenu{
  background-color: magenta;
  width: 30%;
  height: 50%;
  border: solid 3px white;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0px;
  float: right;
}
#navmenu.collapsed{
  /* display */
  display: none;
}
#leftpane, #rightpane{
  /* size */
  max-height: 100%;
  height: 100%;

  /* position */
  vertical-align: top;
}
#leftpane{
  /* border */
  border-right: solid 3px white;
}
#navmenu ul{
  /* content */
  list-style-type: none;
}
#navmenu li.navmenu-entry.gen.active{
  /* border */
  border-bottom: 3px dotted red;
}

/* ============================================================================= */
/* STYLING THAT THE TIMELINE AND THE GENERATION BANNER HAVE IN COMMON */
.timelineLabel, .timeline, #fulltimeline{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/*###############################*/
#fulltimeline{
  background-color: blue;
}

/* ============================================================================= TIMELINE */
.timelineContainer{
}

/* ============================================================================= TIMELINE LABEL */
.timelineLabel{
  /* text */
  color: #00f;
  text-align: center;

  /* background */
  background-color: #fff;

  /* position */
  position: sticky;
  z-index: 1;
  top: 0px;

  /* size */
  width: 100%;
  height: 50px;
}
.timelineLabel h1{
  /* position */
  margin: 0;

  /* text */
  line-height: 50px;
  text-align: center;
}

/* ============================================================================= TIMELINE */
.timeline {
  /* background */
  background-color: #00f;

  /* content */
  overflow-x: hidden;
}
/* The timeline line */
.timeline::after {
  /* content */
  content: '';

  /* position */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;

  /* size */
  width: 6px;

  /* background */
  background-color: #fff;
}
.timeline.collapsed{
  /* display */
  /* display: none; */
  height: 0px;
  transition: height 1s linear;
}

/* Responsive style */
@media screen and (max-width: 800px) {
  /* The timeline line */
  .timeline::after {
    /* position */
    left: 31px;
  }
}

/* ============================================================================= PRODUCT CONTAINER */
.container {
  /* position */
  padding: 10px 40px;
  position: relative;

  /* background */
  background-color: inherit;

  /* size */
  width: 50%;
}
/* The extrusion from the element to the line */
.container::before{
  /* content */
  content: "";

  /* size */
  height: 0;
  width: 0;

  /* position */
  position: absolute;
  top: 22px;
  z-index: 1;

  /* border */
  border: medium solid white;
}
/* The dot on the line */
.container::after {
  /* content */
  content: '';

  /* position */
  position: absolute;
  top: 15px;
  z-index: 1;

  /* size */
  width: 25px;
  height: 25px;

  /* background */
  background-color: white;

  /* border */
  border: 4px solid #FF9F55;
  /* border-radius: 50%; */

  /* display */
  transform: scale( 0 );
}

/* Left container */
.container.left {
  /* position */
  left: 1px; /* necessary, if 0 it will never shows up */

  /* display */
  transform: translateX(-100%);
}
/* Left container extrusion */
.container.left::before {
  /* position */
  right: 30px;

  /* border */
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
/* Left container dot on line */
.container.left::after {
  /* position */
  right: -16px;
}

/* Right container */
.container.right {
  /* position */
  left: 50%;

  /* display */
  transform: translateX(100%);
}
/* Right container extrusion */
.container.right::before {
  /* position */
  left: 30px;

  /* border */
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
/* Right container dot on line */
.container.right::after {
  /* position */
  left: -16px;
}

/* The animation classes */
/* The animaton of the container */
.anim-in.container{
  /* animation */
  animation: container-anim-in 1.2s ease forwards;
}
/* The animation of the dot on the line */
.anim-in.container::after{
  /* animation */
  animation: container-after-anim-in 1.2s ease forwards;
}

/* The animations */
@keyframes container-anim-in {
  /* move to te center by the 60% mark */
  60% { transform: translateX(0%); }
  /* stay there forever */
  100% { transform: translateX(0%); }
}
@keyframes container-after-anim-in {
  /* stay invisible until 70% mark */
  70% { transform: scale( 0 ); }
  /* appear */
  100% { transform: scale( 1 ); }
}

/* Responsive style */
@media screen and (max-width: 800px) {

  .container.right, .container.left{
    /* position */
    left: 0%;

    /* display */
    transform: translateX(100%);
  }

  /* .anim-in.left .anim-in.right{ */
    /* display */
    /* animation: container-after-anim-in 1.2s ease forwards; */
  /* } */

  /* Full-width containers */
  .container {
    /* size */
    width: 100%;

    /* position */
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container.right::before, .container.left::before {
    /* position */
    left: 60px;

    /* border */
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .container.left::after, .container.right::after {
    /* position */
    left: 14px;
  }

  /* Make all right containers behave like the left ones */
  /* .container.right .container.left {
  } */
}

/* ============================================================================= PRODUCT CONTENT */
.content {
  /* position */
  padding: 10px 10px;
  position: relative;

  /* background */
  background-color: #fff;

  /* border */
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
}
.right .content{
  /* text */
  text-align: left;
}
.left .content{
  /* text */
  text-align: right;
}

/* The picture */
.content .picture{
  /* position */
  margin-bottom: 10px;

  /* size */
  width: 100px;
  height: 100px;

  /* border */
  border-width: inherit;
  border-style: inherit;
  border-color: inherit;
}
.right .content .picture{
  /* position */
  float: left;
  margin-right: 10px;

  /* border */
  border-radius: 5px 0 0 0;
}
.left .content .picture{
  /* position */
  float: right;
  margin-left: 10px;

  /* border */
  border-radius: 0 5px 0 0;
}

/* The title */
.content .title{
  /* position */
  margin: 10px 0;
}
/* The date */
.content .date{
  /* position */
  margin: 10px 0;
}
/* The description */
.content .description{
  /* position */
  clear: both;
  margin: 10px 0;
}
/* The author */
.content .author{
  /* position */
  margin: 10px 10px 0 10px;
}
.content .author::before{
  /* content */
  content: '@ ';
}

/* Responsive style */
@media screen and (max-width: 800px) {
  /* The content */
  .left .content, .right .content{
    /* text */
    text-align: left;
  }

  /* The picture */
  .left .content .picture, .right .content .picture{
    /* position */
    float: left;
    margin: 0 10px 10px 0;
  }
}
