/* set variables */
:root{
  --gen2-primary-color: #fe0;
  --gen2-secondary-color: #000;
}

/* use external font */
@font-face {
  font-family: gen2-font;
  src: url( "../gen2/media/font.ttf"); /* relative path */
}

/* ============================================================================= TIMELINE */
.timelineContainer.gen2{
  /* text */
  font-family: gen2-font;
  font-size: 120%;
}

/* ============================================================================= TIMELINE LABEL */
.timelineLabel.gen2{
  /* text */
  color: #000;

  /* background */
  background-color: #fe0;

  /* border */
  border-color: #fe0;
}
.timelineLabel.gen2 h1{
}

/* ============================================================================= TIMELINE */
#gen2.timeline {
  /* background */
  background-color: #000;

  /* text */
  color: #fff;

  /* border */
  border-color: #fe0;
}
/* The timeline line */
#gen2.timeline::after {
  /* background */
  background-color: #fe0;
}

/* ============================================================================= PRODUCT CONTAINER */
#gen2 .container {
}
/* The extrusion from the element to the line */
#gen2 .container::before{
  /* border */
  border-color: #fff;
}
/* The dot on the line */
#gen2 .container::after{
  /* position */
  top: 17px;
  margin: 0;

  /* size */
  height: 30px;
  width: 30px;

  /* border */
  border: none;
  border-radius: 50%;

  /* background */
  background-color: #fe0;
}

/* Left container extrusion */
#gen2 .container.left::before {
  /* border */
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #2121DE;
}
/* Left container dot on line */
#gen2 .container.left::after{
  /* position */
  right: -14px;
}

/* Right container extrusion */
#gen2 .container.right::before {
  /* border */
  border-width: 10px 10px 10px 0;
  border-color: transparent #2121DE transparent transparent;
}
/* Right container dot on line */
#gen2 .container.right::after {
  /* position */
  left: -15px;
}

/* Responsive style */
@media screen and (max-width: 800px) {
  /* the container */
  #gen2 .container.right, #gen2 .container.left{
  }

  /* The extrusion */
  #gen2 .container.right::before, #gen2 .container.left::before {
    /* border */
    border-width: 10px 10px 10px 0;
    border-color: transparent #2121DE transparent transparent;
  }

  /* The dot on the line */
  #gen2 .container.left::after, #gen2 .container.right::after {
    /* position */
    left: 16px;
  }
}

/* ============================================================================= PRODUCT CONTENT */
#gen2 .content{
  /* border */
  border-radius: 5px;
  border: 3px solid #2121DE;

  /* background */
  background-color: #000;
}
#gen2 .right .content{
}
#gen2 .left .content{
}

/* The picture */
#gen2 .content .picture{
}
#gen2 .right .content .picture{
}
#gen2 .left .content .picture{
}

/* The title */
#gen2 .content .title{
}
/* The date */
#gen2 .content .date{
}
/* The description */
#gen2 .content .description{
}
/* The author */
#gen2 .content .author{
}
#gen2 .content .author::before{
}

/* Responsive style */
@media screen and (max-width: 800px) {
  /* The content */
  #gen2 .left .content, #gen2 .right .content{
  }

  /* The picture */
  #gen2 .left .content .picture, #gen2 .right .content .picture{
  }
}
