/* use external font */
@font-face {
  font-family: gen3-font;
  src: url( "../gen3/media/font.ttf"); /* relative path */
}

/* ============================================================================= TIMELINE */
.timelineContainer.gen3{
  /* text */
  font-family: gen3-font;
  /* font-size: 120%; */
}

/* ============================================================================= TIMELINE LABEL */
.timelineLabel.gen3{
  /* text */
  color: #5d93fd;

  /* background */
  background-color: #f6d016;
}
.timelineLabel.gen3 h1{
}

/* ============================================================================= TIMELINE */
#gen3.timeline {
  /* background */
  background-color: #000;

  /* text */
  color: #000;
}
/* The timeline line */
#gen3.timeline::after {
  /* background */
  background-color: #f6d016;
}

/* ============================================================================= PRODUCT CONTAINER */
#gen3 .container {
}
/* The extrusion from the element to the line */
#gen3 .container::before{
}
/* The dot on the line */
#gen3 .container::after{
  /* position */
  top: 17px;
  margin: 0;

  /* size */
  height: 30px;
  width: 30px;

  /* border */
  border: none;
  border-radius: 50%;

  /* background */
  background-color: #f6d016;
}

/* Left container extrusion */
#gen3 .container.left::before {
  /* border */
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #5d93fd;
}
/* Left container dot on line */
#gen3 .container.left::after{
  /* position */
  right: -15px;
}

/* Right container extrusion */
#gen3 .container.right::before {
  /* border */
  border-width: 10px 10px 10px 0;
  border-color: transparent #5d93fd transparent transparent;
}
/* Right container dot on line */
#gen3 .container.right::after {
  /* position */
  left: -15px;
}

/* Responsive style */
@media screen and (max-width: 800px) {
  /* the container */
  #gen3 .container.right, #gen3 .container.left{
  }

  /* The extrusion */
  #gen3 .container.right::before, #gen3 .container.left::before {
    /* border */
    border-width: 10px 10px 10px 0;
    border-color: transparent #5d93fd transparent transparent;
  }

  /* The dot on the line */
  #gen3 .container.left::after, #gen3 .container.right::after {
    /* position */
    left: 16px;
  }
}

/* ============================================================================= PRODUCT CONTENT */
#gen3 .content{
  /* border */
  border-radius: 5px;
  border: 3px solid #5d93fd;

  /* background */
  background-color: #f6d016;
}
#gen3 .right .content{
}
#gen3 .left .content{
}

/* The picture */
#gen3 .content .picture{
}
#gen3 .right .content .picture{
}
#gen3 .left .content .picture{
}

/* The title */
#gen3 .content .title{
}
/* The date */
#gen3 .content .date{
}
/* The description */
#gen3 .content .description{
}
/* The author */
#gen3 .content .author{
}
#gen3 .content .author::before{
}

/* Responsive style */
@media screen and (max-width: 800px) {
  /* The content */
  #gen3 .left .content, #gen3 .right .content{
  }

  /* The picture */
  #gen3 .left .content .picture, .right .content .picture{
  }
}
