/* sound button */
#music-button{
  /* background */
  background-size: cover;
  /* background */
  background-color: #0000;
  background-image: var( --music-button-image );

  /* positioning */
  float: left;
  z-index: 10;
  /* left: calc( 15% - 10px ); */
  top: 0;
  right: 0;

  /* sizing */
  width: 50px;
  height: 50px;

  /* cursor */
  cursor: pointer;
}
#music-button:hover{
  /* background */
  background-image: var( --music-button-image-hover );
}
#music-button[muted]{
  /* background */
  background-image: var( --music-button-cross ), var( --music-button-image );
}
#music-button[muted]:hover{
  /* background */
  background-image: var( --music-button-cross-hover ), var( --music-button-image-hover );
}
