/* ============================================================================= NAVBAR */
#navbar{
  /* background */
  background-color: var( --navbar-bg-color );

  /* size */
  width: 100%;
  height: 50px;

  /* position */
  position: fixed;
  top: 0;
  z-index: 0;
}

/* ==========================================================================--- TITLE */
#navbar-title{
  /* background */
  background-color: var( --navbar-bg-color );

  /* text */
  color: var( --navbar-text-color );
  font-family: var( --navbar-font-family );

  /* size */
  height: 50px;

  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 10px;
}
#navbar-title:hover{
  /* background */
  background-color: var( --navbar-text-color );

  /* text */
  color: var( --navbar-bg-color );
}
#navbar-title h1{
  /* position */
  margin: 0;

  /* content */
  text-align: left;
  line-height: 50px;
}

@media screen and (max-width: 800px) {
  #navbar-title{
    display: none;
  }
}

/* ==========================================================================--- MENU BUTTON */
.buttons{
  /* size */
  height: 50px;

  /* position */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

#navbar-button{
  /* background */
  background-color: var( --navbar-bg-color );

  /* text */
  color: var( --navbar-text-color );
  font-family: var( --navbar-font-family );

  /* position */
  float: left;
  padding: 0 10px;
}
#navbar-button:hover{
  /* background */
  background-color: var( --navbar-text-color ); /*inverted*/

  /* text */
  color: var( --navbar-bg-color ); /*inverted*/
}

/* ==========================================================================--- NAVMENU TEXT */
#navmenu-toggle{
  /* position */
  margin: 0;

  /* content */
  line-height: 50px;
}

/* ==========================================================================--- NAVMENU CONTENT */
#navmenu{
  /* background */
  background-color: var( --navbar-text-color ); /*inverded*/

  /* size */
  width: max( 49vw, 300px );

  /* border */
  border: solid 3px var( --navbar-bg-color ); /*inverded*/

  /* position */
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0px;

  /* text */
  color: var( --navbar-bg-color );/*inverded*/
  font-family: var( --navbar-font-family );
}
#navmenu.collapsed{
  /* display */
  display: none;
}
#navbar-button:hover #navmenu{
  /* text */
  color: var( --navbar-bg-color );/*inverded*/
}
#navmenu p{
  margin: 0;
}

#leftpane{
  /* size */
  width: 70px;
  height: 100%;

  /* position */
  float: left;

  /* content */
  text-align: right;

  /* border */
  border-right: 3px solid var( --navbar-bg-color );/*inverded*/
}
#navmenu .navmenu-entry.gen{
  /* position */
  padding-right: 5px;
}
#navmenu .navmenu-entry.gen.active{
  /* text */
  color: var( --navbar-text-color );/*inverded*//*inverded*/

  /* background */
  background-color: var( --navbar-bg-color );/*inverded*//*inverded*/
}

#rightpane{
  /* size */
  width: calc( 100% - 70px );
  max-height: calc( 100vh - 50px - 3px);

  /* position */
  float: left;
  position: relative;
  left: -3px;

  /* border */
  border-left: solid 3px var( --navbar-bg-color );/*inverded*/
}
#navmenu .navmenu-entry.page{
  /* position */
  padding-left: 5px;
}

#navmenu .navmenu-entry:hover{
  /* text */
  color: var( --navbar-text-color );/*inverded*//*inverded*/

  /* background */
  background-color: var( --navbar-bg-color );/*inverded*//*inverded*/
}
