:root{
  /* background */
  --background-image-left: url( "../../styles/gen9/media/background.jpg" ); /* given to the user */
  --background-image-right: url( "../../styles/gen9/media/background.jpg" ); /* given to the user */
  --background-fade-color: #05040a; /* given to the user */

  /* banner */
  --banner-image: url( "styles/gen9/media/base_banner.png" );/* absolute path */ /* given to the user */
  --banner-color: #fff; /* given to the user */

  /* audio */
  --audio-file: url( "styles/gen9/media/sound.mp3" ); /* absolute path */ /* given to the user */

  /* container */
  --container-background-color: #05040a; /* given to the user */
  --container-text-color: #f6d6f2;  /* given to the user */
  --container-border-color: #f5e6df; /* given to the user */

  /* index */
  --index-background-color: #05040a; /* given to the user */
  --index-text-color: #f6d6f2;  /* given to the user */
  --index-border-color: #f5e6df;

  /* image for the back button */
  --backbutton-image: url( "../../styles/gen9/media/back.jpg" ); /* relative path */
  --backbutton-image-hover: url( "../../styles/gen9/media/back_hover.jpg" ); /* relative path */

  /* image for the sound button */
  --soundbutton-image: url( "../../styles/gen8/media/sound.png" ); /* relative path */
  --soundbutton-image-hover: url( "../../styles/gen8/media/sound_hover.png" ); /* relative path */
  /* image for the cross on the sound button */
  --soundbutton-cross: url( "../../styles/gen9/media/cross.png" ); /* relative path */
  --soundbutton-cross-hover: url( "../../styles/gen9/media/cross_hover.png" ); /* relative path */

  /* text styles */
  --link-color-hover: #fffff8;  /* given to the user */

  /* content scrollbar */
  --scrollbar-thumb: #f6d6f2;
}

#index, #container{
  border-radius: 5px;
}

html {
  font-size: 140%;
}

.button{
/*  border-width: 2px; */
  border-radius: 50%;
/*  border-color: #5eb850;
  border-style: solid; */
}

@font-face {
  font-family: page-font;
  src: url( "../../styles/gen9/media/font.ttf"); /* relative path */
}
