:root{
  /* background */
  --background-image-left: url( "../../styles/gen3/media/background_left.jpg" ); /* given to the user */
  --background-image-right: url( "../../styles/gen3/media/background_right.jpg" ); /* given to the user */
  --background-fade-color: #5d93fd; /* given to the user */

  /* banner */
  --banner-image: url( "styles/gen2/media/base_banner.png" );/* absolute path */ /* given to the user */
  --banner-color: #fff; /* given to the user */

  /* audio */
  --audio-file: url( "styles/gen3/media/sound.mp3" ); /* absolute path */ /* given to the user */

  /* container */
  --container-background-color: #f6d016; /* given to the user */
  --container-text-color: #5d93fd;  /* given to the user */
  --container-border-color: #000; /* given to the user */

  /* index */
  --index-background-color: #f6d016; /* given to the user */
  --index-text-color: #5d93fd;  /* given to the user */
  --index-border-color: #000;

  /* image for the back button */
  --backbutton-image: url( "../../styles/gen3/media/back.jpg" ); /* relative path */
  --backbutton-image-hover: url( "../../styles/gen3/media/back_hover.jpg" ); /* relative path */

  /* image for the sound button */
  --soundbutton-image: url( "../../styles/gen3/media/sound.png" ); /* relative path */
  --soundbutton-image-hover: url( "../../styles/gen3/media/sound_hover.png" ); /* relative path */
  /* image for the cross on the sound button */
  --soundbutton-cross: url( "../../styles/gen3/media/cross.png" ); /* relative path */
  --soundbutton-cross-hover: url( "../../styles/gen3/media/cross_hover.png" ); /* relative path */

  /* text styles */
  --link-color-hover: #5eb850;  /* given to the user */

  /* content scrollbar */
  --scrollbar-thumb: #f6d016;
}

#index, #container{
  border-radius: 5px;
}

html {
  font-size: 120%;
}

.button{
  /* border */
  border-width: 2px;
  border-radius: 5px;
  border-color: #2121DE;
  border-style: solid;
}

@font-face {
  font-family: page-font;
  src: url( "../../styles/gen3/media/font.ttf"); /* relative path */
}
