:root{
  /* background */
  --background-image-left: url( "../../styles/gen6/media/background_left.jpg" ); /* given to the user */
  --background-image-right: url( "../../styles/gen6/media/background_right.jpg" ); /* given to the user */
  --background-fade-color: #5d93fd; /* given to the user */

  /* banner */
  --banner-image: url( "styles/gen6/media/base_banner.png" );/* absolute path */ /* given to the user */
  --banner-color: #fff; /* given to the user */

  /* audio */
  --audio-file: url( "styles/gen6/media/sound.mp3" ); /* absolute path */ /* given to the user */

  /* container */
  --container-background-color: #3f3e3a; /* given to the user */
  --container-text-color: #fff;  /* given to the user */
  --container-border-color: #000; /* given to the user */

  /* index */
  --index-background-color: #3f3e3a; /* given to the user */
  --index-text-color: #fff;  /* given to the user */
  --index-border-color: #000;

  /* image for the back button */
  --backbutton-image: url( "../../styles/gen6/media/back.jpg" ); /* relative path */
  --backbutton-image-hover: url( "../../styles/gen6/media/back-hover.jpg" ); /* relative path */

  /* image for the sound button */
  --soundbutton-image: url( "../../styles/gen6/media/sound.png" ); /* relative path */
  --soundbutton-image-hover: url( "../../styles/gen6/media/sound_hover.png" ); /* relative path */
  /* image for the cross on the sound button */
  --soundbutton-cross: url( "../../styles/gen6/media/cross.jpg" ); /* relative path */
  --soundbutton-cross-hover: url( "../../styles/gen6/media/cross_hover.jpg" ); /* relative path */

  /* text styles */
  --link-color-hover: #95978f;  /* given to the user */

  /* content scrollbar */
  --scrollbar-thumb: #000;
}

#index, #container{
  border-radius: 5px;
}

html {
  font-size: 120%;
}

.button{
/*  border-width: 2px;
  border-radius: 5px;
  border-color: #5eb850;
  border-style: solid; */
}

@font-face {
  font-family: page-font;
  src: url( "../../styles/gen3/media/font.ttf"); /* relative path */
}
